/* bootsrtap修正 */
.modal-backdrop.show{
    z-index: 999;
}
/* ============================= 基礎設定 ============================= */
body{
    font-family: 'Noto Sans TC','Roboto',sans-serif;
    
}
.logo-text{
    font-family: 'Whisper',cursive;
}
.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
    background-color: black;
    color: #fff;
}
.nav-link {
    color: black;
}
.page-link{
    color: #454645;
}
.page-item.active .page-link{
    border-color: #454645;
    background-color: #454645;
    color: #fff;
}
/* 表格 */
table .fa-solid{
    color: black;
}
td {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    vertical-align: middle;
    text-align: start;
}
/* 圖片 */
img{
    object-fit: cover;
    width: 100%;
}




/* ============================= 商品列表 ============================= */
.prd-list_img{
    max-width: 20px;
}